<!--Footer Start-->
<section class="footer">
    <h1 class="credit">کلیه حقوق این سایت متعلق به <span>کتابخانه عمومی</span> می باشد  | طراح و برنامه نویس : فرهاد رضازاده</h1>
</section>
<!--Footer End-->