@font-face {
    font-family: 'IRANSansWeb';
    src: url('/fonts/IRANSansWeb.eot');
    src: url('/fonts/IRANSansWeb.eot') format('embedded-opentype'), url('/fonts/IRANSansWeb.woff') format('woff'), url('/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSansWeb' !important;
    font-weight: 400;
}

.customGreen1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #d0f7c9;
}

.customBlue1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #9ce5f2;
}
.customBlue2 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #bad6f4;
}

.customYellow1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #e8efa7;
}

.customRed1 {
    border: 1px solid gray;
    border-radius: 3px;
    color: black !important;
    background-color: #f59f9f;
}

.custominput {
    border: 1px solid gray;
    border-radius: 1px;
    height: 35px;
    margin-bottom: 15px;
}

.marginModal {
    margin-bottom: 7px;
    margin-top: -10px;
}

.closModal {
    color: white;
    margin-top: -9px !important;
    font-weight: bold;
    font-size: 25px;
}

.chearchStyle {
    border: 1px solid gray;
    background-color: #afd4be;
    text-align: center;
    padding: 10px 6px 5px 6px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.inputSearch {
    border: 1px solid gray;
    width: 300px;
    height: 28px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
a{
    text-decoration:none;
}