@{ 
    ViewData["Title"] = "تراکنش ناموفق !!";
}
<body style="background:url('@Url.Content("~/images/background.jpg")');background-repeat:no-repeat;height:auto;background-size:cover;background-position:center;background-attachment:fixed;margin-top:30px">


<div class="panel panel-body col-ms-8 col-xs-12" 
     style="margin:0 auto; text-align:center; margin-top:200px; background-color:#F5B7B1; border-radius:5px; box-shadow:6px 6px 3px 0 gray;" >
    <div class="modal-body" style="height:200px;">
        <span style="color:darkred; font-weight:bold;">&#10006; در تراکنش خطایی رخ داد!</span>
        <br />
        <br />
        <span style="color:black; font-size:16px;"><span style="color:red;">&#10004;</span> <span style="font-weight:bold;">توجه :</span>  اگر مبلغی از حساب شما کسر شد ظرف مدت 72 ساعت به حساب شما بازگردانده میشود. </span>
    </div>


</div>

</body>