@model EntityLayer.Entities.Group

@{
    Layout = null;
}

<form asp-controller="Group" asp-action="DeletePost" method="post">
    <div class="modal-header" style="background-color:firebrick; color:white; border-radius:5px 5px 0 0;">
        <button type="button" class="close pull-left closModal" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title marginModal">حذف گروه بندی</h4>
    </div>

    <div class="modal-body form-horizontal">
        آیا از حذف دسته بندی
        <span style="font-weight:bold;">@Model.GroupName</span>
        مطمئن هستید؟
    </div>

    <input type="hidden" asp-for="GroupId" />


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" style="width:80px;" data-dismiss="modal">بازگشت</button>
        <button type="submit" class="btn" style="width:80px; color:white; background-color:firebrick;">
            تایید
        </button>
    </div>

</form>