@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="alert @ViewBag.alt col-xs-12 col-md-12" style="text-align:center;">
    @ViewBag.msg
</div>
<div class="text-center">
    <a href="/AdminArea/Dashboard"><span >بازگشت</span></a>
</div>