@model DataLayer.ViewModels.NewsViewModel
@{
    ViewData["Title"] = "ثبت خبر";
}


<div class="content">

    <div class="panel panel-heading" style="box-shadow:3px 1px 1px 0 gray; border-radius:2px;background-color: #73C6B6">
        <span style="font-weight:bold;">
            <i class="fa fa-align-left"></i>
            فرم ثبت اطلاعیه جدید
        </span>
    </div>


    <div class="panel panel-body container-fluid" style="border-radius:2px; box-shadow:3px 1px 1px 0 gray;
                background-color:#D0ECE7">

        <form asp-controller="News" asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="col-md-9 col-xs-12">

                <!--NewsTitle-->
                <div>
                    <label asp-for="NewsTitle" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <input asp-for="NewsTitle" type="text" class="form-control custominput" placeholder="عنوان اطلاعیه ..." autocomplete="off" />
                        <span asp-validation-for="NewsTitle" class="text-danger"></span>
                    </div>
                </div>

                <!--NewsDate-->
                <div>
                    <label asp-for="NewsDate" class="control-label col-md-3 col-xs-12"></label>
                    <div class="col-md-9 col-xs-12">
                        <div class="badge" style="background-color:white; color:black;font-size: 14px;">@ConvertDateTime.ConvertMiladiToShamsi(DateTime.Now, "yyyy/MM/dd")</div>

                    </div>
                </div>

                <div class="col-md-12 col-xs-12" style="margin-top: 20px;">
                    <!--NewsAttachment-->
                    <div>
                        <label asp-for="NewsAttachment" class="control-label col-md-3 col-xs-12"></label>
                        <div class="col-md-9 col-xs-12">
                            <div class="col-md-6">
                                <div class="form-horizontal">

                                    <label for="NewsAttachment" class="btn" style="width:145px; height:30px; margin-bottom:5px; border-radius:3px;
                                        border:1px solid gray;background-color:#97dbcc;">
                                        انتخاب تصویر کتاب
                                        <i class="icon-file-picture"></i>
                                    </label>

                                    <input asp-for="NewsAttachment" type="file" accept=".jpg, .png, .tif, .tiff, .jpeg" style="visibility:hidden" />
                               

                                    <!--نام جدید تصویر-->
                                    <input id="newImagePathName" name="newImagePathName" hidden />

                                    <input type="button" value="آپلود و نمایش تصویر" id="btnupload" onclick="UploadImage()" class="btn"
                                           style="height:30px; border-radius:3px; border:1px solid gray; width:145px; margin-bottom:10px;" />
                                    <!--//برای نگهداری اسم-->
                                    <span id="spnimagenews" style="color:black; font-size:12px;"></span>
                                       </div>
                            </div>

                            <div class="col-md-4">
                                <img id="imgnewsimage" src="~/upload/news/defaultnewaimg.png"
                                     style="height:110px; width:110px; margin:5px auto; border:1px solid gray; background-size:100%; width:100%; height:100%" />

                                <div id="divmessage" class="text-center hidden"></div>
                            </div>
                        </div>

                    </div>
                  

                </div>
  
            </div>
            <div class="col-md-12 col-xs-12">
                <!--NewsContent-->
                <div>
                    <label asp-for="NewsContent" class="control-label col-md-12 col-xs-12"></label>
                    <div class="col-md-12 col-xs-12">
                        <textarea id="NewsContent" name="NewsContent" asp-for="NewsContent" class="form-control custominput"></textarea>
                        <span asp-validation-for="NewsContent" class="text-danger"></span>
                        <script src="~/lib/ckeditor/ckeditor.js"></script>
                        <script type="text/javascript">
                            CKEDITOR.replace('NewsContent')
                        </script>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 form-group" style="margin-top:15px;">

                <input type="submit" style="border:1px solid gray; border-radius:3px;"
                       value="ثبت اطلاعات" class="btn customGreen1 pull-right" />

                <a asp-controller="News" asp-action="Index" style="border:1px solid gray; border-radius:3px; margin-left:20px"
                   value="برگشت" class="btn customRed1 pull-right">بازگشت</a>

            </div>
        </form>
    </div>

</div>



@section AdminScripts{
    <script>
        $("#NewsAttachment").change(function () {

            var filename = this.files[0].name;
            $("#spnimagenews").html(filename);
        });

    </script>

    <script>
        var UploadImage = function () {

            var data = new FormData;
            var file = $("#NewsAttachment").get(0);
            var files = file.files;

            for (var i = 0; i < files.length; i++) {
                data.append('filearray', files[i]);
            }
            data.append('path', "upload\\news\\");

            $.ajax({
                type: "post",
                url: '@Url.Action("UploadImageFile","News", new { area = "AdminArea"})',
                data: data,
                contentType: false,
                processData: false

            }).done(function (result) {
                if (result.status == "success") {
                    $("#imgnewsimage").attr('src', "\\upload\\news\\" + result.imagename);
                    $("#divmessage").text("آپلود موفقیت آمیز بود.");
                    $("#divmessage").css("color", "green");
                    $("#divmessage").removeClass("hidden");
                    $("#newImagePathName").val(result.imagename);
                }

            }).fail(function (result) {
                if (result.status != "success") {
                    $("#divmessage").css("color", "red");
                    $("#divmessage").removeClass("hidden");
                    $("#divmessage").text("در حین آپلود اشکالی بوجود آمد.");
                }
            });

        }
    </script>

}