@{ 
    ViewData["Title"] = "ثبت نام موفق !!";
}
<body style="background:url('@Url.Content("~/images/background.jpg")');background-repeat:no-repeat;height:auto;background-size:cover;background-position:center;background-attachment:fixed;margin-top:30px">


<div class="panel panel-body col-ms-8 col-xs-12" 
     style="margin:0 auto; text-align:center; margin-top:200px; background-color:#D6EAF8; border-radius:5px; box-shadow:6px 6px 3px 0 gray;" >
    <div class="modal-body" style="height:200px;">
        <span style="color:darkgreen; font-size:18px;">&#10004; ثبت نام شما با موفقیت انجام شد!</span>
        <br />
        <br />
        <span style="color:black; font-size:16px;">&#10004; اکنون می توانید با استفاده از <span style="color:red;">شماره تماس</span> و <span style="color:red;">رمز عبور</span> انتخابی وارد پنل خود شوید.</span>
        <br />
        <br />
        <span style="color:black; font-size:16px;"><span style="color:red;">&#10004;</span> <span style="font-weight:bold;">توجه :</span> پس از مراجعه به کتابخانه و ارائه مدارک هویتی به مدیریت کتابخانه، حساب کاربری شما فعال و امکانات سایت برای شما قابل استفاده خواهد بود. </span>
    </div>
    <a href="/" style="text-decoration:underline;color:green;">بازگشت</a>

</div>

</body>